body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #0078D4;
    color: white;
    padding: 40px;
}

section {
    padding: 20px;
}

footer {
    background: #222;
    color: white;
    padding: 10px;
}